Key Resources
Affidavit of Support Example
This is a sample letter for F 1 and J 1 supporters  showing that they are providing monetary support to students
Required financial documents
Please show all sources of your financial support and ensure that the sum equals or exceeds the estimated expenses  includes tuition and fees  as well as living expenses  for yourself and any dependents
All financial documentation must meet the following requirements
Must be in English  or certified English translations must be included
Must be issued within 9 months of your program start date
Must be on official letterhead
Must clearly state the account holder s name in English
Must clearly list the currency of the funds in the account  if not U S  dollars  in English
Must include a currency conversion from the original currency to USD if the funds are not in U S  dollars
Please note that the processing of your I 20 request may be significantly delayed if your financial documentation does not meet these requirements
Financial sources must be readily available liquid assets  such as
Checking or savings accounts
Money market accounts
Certificates term deposits fixed deposits  with maturity dates no later than the program start date or stating that funds can be withdrawn at anytime
Educational loans  a loan application is not sufficient
Benevolent account
Current account
Post office accounts
University scholarships
The following are examples of sources that are NOT acceptable
Investment portfolios  Examples  stocks  bonds  mutual funds
Retirement plans
Public provident funds
Available lines of credit
Wire transfers
Deeds to real estate
Leases with rental income
Salary agreements or paystubs
Material items  examples  livestock  land  jewelry  fur
Income tax forms
Related Articles
Requesting Your I 20  F 1
Dependents