Required Minimum Funding
Please be aware that the minimum funding required per year is the following
28 000 for J 1 Scholar
14 000 for spouse
7 000 per child
The total financial support declared above should match or exceed the estimated living costs for the J 1 Scholar and their dependents  if applicable
EXAMPLE
A J 1 Scholar with a spouse and two children staying for one year would need to show  28 000 for themselves   14 000 for the spouse  and  14 000 for the children   56 000 in total
Guidelines for acceptable proof of funds
Funding from sources other than Northeastern  private sponsor  government funding  scholarships  personal funds  etc   will be considered towards meeting Northeastern s minimum funding requirements  with the following restrictions
All documentation must be officially translated into English and the translation must be certified  currency must be clearly referenced and converted into USD
If you are providing a bank statement s   it must include the following information
official English translation
account holder s name
currency
amount available
issue date  the bank statement cannot be older than 9 months upon receipt by OGS
If you have multiple statements  upload all documents in this category together into one PDF and attach the coversheet
Documentation must be copies of originals  please note that the U S  Consulate requires original documentation during the visa application process
Sponsorship by family member s
If the J 1 Scholar will be supported financially by a family member s   please submit the following
Financial institution documentation  such as bank statements or letters  including name of the financial sponsor  documentation must be recent  and not older than 9 months upon receipt by the Office of Global Services  OGS
A letter signed by the financial sponsor attesting that the J 1 Scholar is entitled to the funds in the sponsor s account
Sponsorship by home country organizations
In cases in which the documentation reflects a range in funding  OGS will use the lowest figure in the range  unless the J 1 Scholar provides a letter from the funding source indicating otherwise
If a J 1 Scholar is sponsored by his her home country employer  e g   during a sabbatical from the home university   the letter from the employer must state that the J 1 Scholar will continue receiving a salary while at Northeastern  salary statement alone is not sufficient
OGS retains the right to request original documentation or other means of clarification
Failure to follow the instructions above will result in the delay of DS 2019 issuance