I want to know more about
Guidelines on Maintaining Status
U S  federal government regulations require all F 1 and J 1 international students to maintain valid immigration status  While it is your responsibility to maintain your status  the Office of Global Services is here to help guide you through the complexities of the U S  government regulations and procedures
Correcting Status
We understand that mistakes happen  Learn about what options may be available to correct your F 1 status and continue your studies on campus
J 1 Student Intern Requirements
The Office of Global Services  OGS  works with J 1 student interns to provide the guidance and support they need in maintaining their status  such as attending orientation  checking in on campus  health insurance  and social security numbers
Reduced Course Load
F 1 and J 1 students must enroll in and maintain a full time course load  however  federal regulations allow international students to reduce their course load in certain limited academic circumstances
Summer Term
At Northeastern  classes run year round  However  not all students are required or choose to study during the summer term  Whether you plan to study or travel  it is important to maintain your status in the summer
Final Term
Some students do not have enough course requirements left in their final term to count as a full course load  Students in this situation may be allowed to enroll in less than a full course load if certain criteria are met
Program Extension
If you are unable to complete your program of study before the program end date on your I 20 or DS 2019  you must apply to OGS for a program extension at least 30 days before the program end date on your current I 20 or DS 2019
Withdrawal from the University
Learn what options are available to F 1 students that need to withdraw from Northeastern University and what steps the Office of Global Services  OGS  will need to take
Transferring Out
Occasionally  F 1 students will decide to transfer out of Northeastern University  When this occurs  the Office of Global Services  OGS  staff will support your decision and help you experience a seamless transition
Dismissals
Learn what options regarding visa status are available to F 1 students who have been academically dismissed from Northeastern University
Unlawful Presence
Learn more about the U S  Citizenship and Immigration Services  USCIS  policy for F  J  or M visa holders regarding situations where immigration status has been violated