







 NOTE Due to a high volume of requests please allow for 15 20 business days for all e form processing We cannot accommodate requests to expedite e forms at this time Thank you for your patience 













Programs and Resources











 Programs and Offices for Northeastern s International Community 





 International Student Hub 

 Welcome to the International Student Hub a place to learn about and connect with Northeastern s International community 

Office of Global Services Global Student Success Global Pathways NU Immerse NU Bound Graduate Programs Undergraduate Admissions Bachelor s Completion Pre College 





 Office of Global Services OGS 







E FormsNew Students

I 20 DS 2019 Application

Requesting Your I 20 F 1 Requesting Your NU in I 20 F 1 Deferring Your Program StartApplying as a J 1 StudentDependentsFinancial Requirements Visa Application

F 1 Visa ProcessJ 1 Student Visa ProcessPaying the I 901 SEVIS Fee Arrival

JumpstartArriving in the U S Online Immigration ClearanceObtaining I 94Settling in at NUInternational Student Orientation 

Current Students

Understanding Visa Requirements

Guidelines on Maintaining StatusReduced Course LoadSummer TermChange of Degree LevelFinal TermProgram ExtensionLeaving NortheasternTransferring OutViolating and Correcting Status Traveling

International TravelDomestic TravelRenewing your VisaGraduate Research AbroadStudy AbroadExecutive Orders Leaves of Absence

Medical Leave Of AbsenceNon Medical Leave of AbsenceReturning From a Leave of Absence Taken Outside the U S Important Updates

Changes to OGS Communications Coming Soon USCIS Tip Sheet Avoiding I 765 DelaysSEVP Update Sign and Send I 983 ElectronicallyUSCIS Error Biometrics Appointments and OPT STEM Extension ApplicationsUSCIS Update Expansion of Premium ProcessingUpdate to USCIS Form I 765Guidance for the 2022 2023 Academic YearSEVP Guidance for Academic Year 2021 2022F 1 Students Can Now File Form I 765 OnlineSEVP Guidance for Fall 2020 

Employment

On Campus Employment

On Campus EmploymentStipended Graduate Assistantships Off Campus Employment

F 1 Curricular Practical TrainingF 1 Pre Completion OPTJ 1 Academic TrainingEconomic HardshipSSR and TPSWorking Outside of the U S Unauthorized Experiential Activity Working After Graduation

F 1 Post Completion OPTReporting Post Completion OPT24 Month STEM OPT ExtensionReporting STEM OPT ExtensionH 1B and the Cap Gap ExtensionJ 1 Academic Training Other Topics

Social Security NumberVolunteering and Unpaid InternshipsEmployment for Dependents J 2 

Exchange Visitor Program

J 1 Scholars

Information for Prospective J 1 ScholarsVisa Process for J 1 ScholarsArrival for J 1 ScholarsTraveling as a J 1 ScholarGuidelines for Maintaining J 1 Scholar StatusCompleting Your J 1 Scholar ProgramHow to Submit an E form for J 1 ScholarsFinancial Requirements for J 1 Scholars J 1 Visiting Students

Information for Prospective J 1 Visiting StudentsVisa Process for J 1 Visiting StudentsArrival for J 1 Visiting StudentsTraveling as a J 1 Visiting StudentGuidelines for Maintaining J 1 Visiting Student StatusCompleting Your J 1 Visiting Student ProgramHow to Submit an E form for J 1 Visiting StudentsFinancial Requirements for J 1 Visiting Students 

Student Support

Academic Cultural Support

Academic Skills AdvisingAcademic Tools TipsEventsDiwaliGlobal Student Mentor ProgramTranslations Helpful Information

Campus ResourcesTax InformationSafety ScamsHealthHousingMA State Issued IDsFamily MattersGovernment ResourcesImmigration Attorneys and Pro bono Legal ServicesGlobal Student Success About OGS

Contact OGSTroubleshooting myOGSE Forms 

Canadian Campuses

New Students

POA and Deposit ProcessApplying for a Study PermitStudent Direct StreamLiving in CanadaNew Students Traveling to CanadaSocial Insurance NumberCo Op Work Permit Student Support

Health InsuranceDriving in CanadaLate Arrival and Deferral Policies for Winter Spring 2024Events and WorkshopsResourcesLetters of Invitation Current Students

Maintaining Student Status in CanadaWorking While StudyingPost Graduation Work PermitTransfer Process for Canadian CampusesAcademic Dismissal and Immigration PoliciesScheduled Breaks and Full Time Definitions 

 



 





Go











 Students Studying in The United States Financial Requirements for J 1 Visiting Students 

 The Exchange Visitor Program requires J 1 Visiting Students to demonstrate that they have sufficient funding to support themselves and any dependents for the duration of their program 











 Required Minimum Funding 

Please be aware that the minimum funding required per year is the following 

 28 000 for J 1 Visiting Student 14 000 for spouse 7 000 per child

The total financial support declared above should match or exceed the estimated living costs of the J 1 Visiting Student and their dependents if applicable IMPORTANT J 1 Visiting Students can only use personal or family funds for up to 50 of the required minimum funding This means that more than 50 of the required funding needs to come from Northeastern University their home institution or another funding source EXAMPLE A J 1 Visiting Student with a spouse and two children staying for one year would need to show 28 000 for themselves 14 000 for the spouse and 14 000 for the children 56 000 in total A J 1 Visiting Student would only be able to show half of 56 000 or 28 000 in personal or family funds They would also need to provide at least 28 000 from Northeastern their home institution or another funding source 



 Guidelines for acceptable proof of funds 

Funding from sources other than Northeastern private sponsor government funding scholarships personal funds etc will be considered towards meeting Northeastern s minimum funding requirements with the following restrictions 

All documentation must be officially translated into English and the translation must be certified currency must be clearly referenced and converted into USD If you are providing a bank statement s it must include the following information 

official English translation account holder s name currency amount available issue date the bank statement cannot be older than 9 months upon receipt by OGS 

 If you have multiple statements upload all documents in this category together into one PDF and attach the coversheet Documentation must be copies of originals please note that the U S Consulate requires original documentation during the visa application process 





 Sponsorship by family member s 

If the J 1 Visiting Student will be supported financially by a family member s please submit the following 

Financial institution documentation such as bank statements or letters including name of the financial sponsor documentation must be recent and not older than 9 months upon receipt by the Office of Global Services OGS A letter signed by the financial sponsor attesting that the J 1 Visiting Student is entitled to the funds in the sponsor s account





 Sponsorship by home country organizations 

In cases in which the documentation reflects a range in funding OGS will use the lowest figure in the range unless the J 1 Visiting Student provides a letter from the funding source indicating otherwise If J 1 Visiting Student is sponsored by his her home country employer e g during a sabbatical from the home university the letter from the employer must state that the J 1 Visiting Student will continue receiving a salary while at Northeastern University salary statement alone is not sufficient OGS retains the right to request original documentation or other means of clarification Failure to follow the instructions above will result in the delay of DS 2019 issuance 



 Related Articles 





 Information for Prospective J 1 Visiting Students 







 Visa Process for J 1 Visiting Students 







 





 Navigate this Page 







 Frequently Asked Questions

 











 







Contact OGS

354 Richards Hall

360 Huntington Avenue

Boston MA 02115

 1 617 373 2310

Email email protected 



 Office Hours Monday Friday 8 30a m 5 00p m Note We are closed on Tuesdays from 3 00pm 4 00pm for all staff training and meeting 

Phone Hours Monday Friday 8 30a m 5 00p m 







Social











































 