NOTE  Due to a high volume of requests  please allow for 15 20 business days for all e form processing  We cannot accommodate requests to expedite e forms at this time  Thank you for your patience 
Programs and Resources

 Programs and Offices for Northeastern s International Community  

 International Student Hub 

 Welcome to the International Student Hub   a place to learn about and connect with Northeastern s International community  
Office of Global Services
Global Student Success
Global Pathways
NU Immerse
NU Bound
Graduate Programs
Undergraduate Admissions
Bachelor s Completion
Pre College
 

 Office of Global Services 

 OGS 
E FormsNew Students
I 20 DS 2019 Application
Requesting Your I 20  F 1 Requesting Your NU in I 20  F 1 Deferring Your Program StartApplying as a J 1 StudentDependentsFinancial Requirements 
Visa Application
F 1 Visa ProcessJ 1 Student Visa ProcessPaying the I 901 SEVIS Fee 
Arrival
JumpstartArriving in the U S Online Immigration ClearanceObtaining I 94Settling in at NUInternational Student Orientation 
Current Students
Understanding Visa Requirements
Guidelines on Maintaining StatusReduced Course LoadSummer TermChange of Degree LevelFinal TermProgram ExtensionLeaving NortheasternTransferring OutViolating and Correcting Status 
Traveling
International TravelDomestic TravelRenewing your VisaGraduate Research AbroadStudy AbroadExecutive Orders 
Leaves of Absence
Medical Leave Of AbsenceNon Medical Leave of AbsenceReturning From a Leave of Absence Taken Outside the U S  
Important Updates
Changes to OGS Communications Coming Soon USCIS Tip Sheet  Avoiding I 765 DelaysSEVP Update  Sign and Send I 983 ElectronicallyUSCIS Error  Biometrics Appointments and OPT STEM Extension ApplicationsUSCIS Update  Expansion of Premium ProcessingUpdate to USCIS Form I 765Guidance for the 2022 2023 Academic YearSEVP Guidance for Academic Year 2021 2022F 1 Students Can Now File Form I 765 OnlineSEVP Guidance for Fall 2020 
Employment
On Campus Employment
On Campus EmploymentStipended Graduate Assistantships 
Off Campus Employment
F 1 Curricular Practical TrainingF 1 Pre Completion OPTJ 1 Academic TrainingEconomic HardshipSSR and TPSWorking Outside of the U S Unauthorized Experiential Activity 
Working After Graduation
F 1 Post Completion OPTReporting Post Completion OPT24 Month STEM OPT ExtensionReporting STEM OPT ExtensionH 1B and the Cap Gap ExtensionJ 1 Academic Training 
Other Topics
Social Security NumberVolunteering and Unpaid InternshipsEmployment for Dependents  J 2  
Exchange Visitor Program
J 1 Scholars
Information for Prospective J 1 ScholarsVisa Process for J 1 ScholarsArrival for J 1 ScholarsTraveling as a J 1 ScholarGuidelines for Maintaining J 1 Scholar StatusCompleting Your J 1 Scholar ProgramHow to Submit an E form for J 1 ScholarsFinancial Requirements for J 1 Scholars 
J 1 Visiting Students
Information for Prospective J 1 Visiting StudentsVisa Process for J 1 Visiting StudentsArrival for J 1 Visiting StudentsTraveling as a J 1 Visiting StudentGuidelines for Maintaining J 1 Visiting Student StatusCompleting Your J 1 Visiting Student ProgramHow to Submit an E form for J 1 Visiting StudentsFinancial Requirements for J 1 Visiting Students 
Student Support
Academic   Cultural Support
Academic Skills AdvisingAcademic Tools   TipsEventsDiwaliGlobal Student Mentor ProgramTranslations 
Helpful Information
Campus ResourcesTax InformationSafety   ScamsHealthHousingMA State Issued IDsFamily MattersGovernment ResourcesImmigration Attorneys and Pro bono Legal ServicesGlobal Student Success 
About OGS
Contact OGSTroubleshooting myOGSE Forms 
Canadian Campuses
New Students
POA and Deposit ProcessApplying for a Study PermitStudent Direct StreamLiving in CanadaNew Students Traveling to CanadaSocial Insurance NumberCo Op Work Permit 
Student Support
Health InsuranceDriving in CanadaLate Arrival and Deferral Policies for Winter Spring 2024Events and WorkshopsResourcesLetters of Invitation 
Current Students
Maintaining Student Status in CanadaWorking While StudyingPost Graduation Work PermitTransfer Process for Canadian CampusesAcademic Dismissal and Immigration PoliciesScheduled Breaks and Full Time Definitions 
 
 
Go
 Understanding Visa Requirements 
 With the help of the Office of Global Services  F 1 students and J 1 exchange visitors learn how to maintain their status by having a valid passport  taking a minimum course load  and more  
      I want to know more about         
Guidelines on Maintaining Status
U S  federal government regulations require all F 1 and J 1 international students to maintain valid immigration status  While it is your responsibility to maintain your status  the Office of Global Services is here to help guide you through the complexities of the U S  government regulations and procedures 
Correcting Status
We understand that mistakes happen  Learn about what options may be available to correct your F 1 status and continue your studies on campus 
J 1 Student Intern Requirements
The Office of Global Services  OGS  works with J 1 student interns to provide the guidance and support they need in maintaining their status  such as attending orientation  checking in on campus  health insurance  and social security numbers 
Reduced Course Load
F 1 and J 1 students must enroll in and maintain a full time course load  however  federal regulations allow international students to reduce their course load in certain limited academic circumstances 
Summer Term
At Northeastern  classes run year round  However  not all students are required or choose to study during the summer term  Whether you plan to study or travel  it is important to maintain your status in the summer 
Final Term
Some students do not have enough course requirements left in their final term to count as a full course load  Students in this situation may be allowed to enroll in less than a full course load if certain criteria are met 
Program Extension
If you are unable to complete your program of study before the program end date on your I 20 or DS 2019  you must apply to OGS for a program extension at least 30 days before the program end date on your current I 20 or DS 2019 
Withdrawal from the University
Learn what options are available to F 1 students that need to withdraw from Northeastern University and what steps the Office of Global Services  OGS  will need to take 
Transferring Out
Occasionally  F 1 students will decide to transfer out of Northeastern University  When this occurs  the Office of Global Services  OGS  staff will support your decision and help you experience a seamless transition 
Dismissals
Learn what options regarding visa status are available to F 1 students who have been academically dismissed from Northeastern University 
Unlawful Presence
Learn more about the U S  Citizenship and Immigration Services  USCIS  policy for F  J  or M visa holders regarding situations where immigration status has been violated 
Contact OGS
354 Richards Hall
360 Huntington Avenue
Boston  MA 02115
 1 617 373 2310
Email   email protected 
Office Hours
Monday Friday  8 30a m  5 00p m 

 Note  We are closed on Tuesdays from 3 00pm   4 00pm for all staff training and meeting  
Phone Hours 
Monday Friday  8 30a m  5 00p m 
Social